#form-login {
    min-width: 440px;
    margin: 0 auto;
    padding: 50px;
    background-color: #E6E6E6;
    color: black;
}

#form-login label{
    display: block;
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 10px;
}

#form-login input {
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    margin-top:10px;
}

#form-login .botao{
    padding: 30px;
}


@media(min-width:500px){
    #form-login{
        width:480px;
        margin: calc((100vw - 480px) / 10) auto;
    }
    #form-login{
        width:800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #form-login label{
        width: calc((100% - 20px) / 2);
    }

    #form-login .botao{
       padding: 35px;
    }

    #form-login label:last-of-type{
        margin-bottom: 0px;
    }
}

